<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<select id="getList" resultType="eventDto">
		SELECT num, img_name, title, event_date, event_url, end_event, img_name
		FROM coffee_event
	</select>
</mapper>